*, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lato";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.fixed {
  overflow: hidden;
}

.wrapper-body {
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mob__burger {
  display: none;
}

.container {
  max-width: 1413px;
  padding: 0px 15px;
  margin: 0px auto;
  height: 100%;
}

.bg {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo__nav-left {
  font-weight: bold;
  font-size: 22px;
  color: #01996D;
}

.middle__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 558px;
  margin-right: 230px;
}

.link {
  font-size: 20px;
  color: #292929;
}

.nav__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 279px;
  width: 100%;
}

.sign-in {
  font-size: 20px;
  color: #292929;
}

.start-trial {
  font-size: 20px;
  color: #fff;
  background-color: #01996D;
  padding: 13px 50px;
  border-radius: 4px;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.start-trial:hover {
  background-color: #009168;
}

.main-screen {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top: 1px solid #e0e0e0;
  height: calc(100vh - 99px);
}

.screen__content {
  width: 100%;
  max-width: 440px;
  margin: 10% 19%;
}
.screen__content h1 {
  display: block;
  font-size: 65px;
  font-weight: 700;
  color: #01996D;
  line-height: 73.85px;
}
.screen__content p {
  display: block;
  max-width: 420px;
  font-size: 20px;
  line-height: 31.4px;
  font-weight: 400;
  color: #292929;
  margin-top: 30px;
  margin-bottom: 50px;
}

.btn {
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #01996D;
  padding: 20px 50px;
  border-radius: 4px;
  -webkit-transition: 0.2s background linear;
  transition: 0.2s background linear;
}
.btn:hover {
  background-color: #009168;
}

.main__container {
  max-width: 1413px;
  margin: 169px auto 51px auto;
}

.upper-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h2 h2" "h1 p";
}
.upper-grid h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  font-size: 24px;
  color: #292929;
  grid-area: h2;
}
.upper-grid h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  font-size: 50px;
  color: #01996D;
  line-height: 78.5px;
  width: 100%;
  max-width: 584px;
  grid-area: h1;
}
.upper-grid p {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  font-size: 20px;
  color: #292929;
  font-weight: 500;
  line-height: 150%;
  width: 100%;
  max-width: 660px;
  grid-area: p;
  margin-top: 21px;
}

.middle-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex__left {
  position: relative;
  margin-top: 50px;
  max-width: 390px;
}
.flex__left h1 {
  font-size: 30px;
  color: #292929;
  font-family: Georgia;
  padding-top: 136px;
  text-align: center;
}

.p-content {
  font-size: 20px;
  color: #292929;
  line-height: 150%;
  font-weight: 500;
  width: 100%;
  max-width: 382px;
  margin: 55px 0 60px 0;
}

.number {
  font-size: 150px;
  color: #01996D;
  font-family: Georgia;
  font-weight: 400;
  line-height: 150%;
  opacity: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

.flex__middle {
  position: relative;
  margin-top: 330px;
  max-width: 390px;
  margin-bottom: 51px;
}
.flex__middle h1 {
  font-size: 30px;
  color: #292929;
  font-family: Georgia;
  padding-top: 136px;
  text-align: right;
}

.flex__right {
  position: relative;
  margin-top: 77px;
  max-width: 390px;
}
.flex__right h1 {
  font-size: 30px;
  color: #292929;
  font-family: Georgia;
  padding-top: 136px;
  text-align: center;
}

.kaylas-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 229px 206px 176px 205px;
  background-color: #245852;
}
.kaylas-story h1 {
  font-size: 50px;
  color: #fff;
  font-family: Georgia;
  padding-top: 0;
  text-align: left;
  font-weight: 700;
  line-height: 157%;
  width: 580px;
}
.kaylas-story p {
  margin: 33px 0 57px 0;
  color: #fff;
  font-size: 25px;
  line-height: 157%;
}

.story__left {
  margin-right: 61px;
}

.story__right {
  position: relative;
}

.video {
  width: 100%;
  max-width: 896px;
}

.position {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.position:hover {
  cursor: pointer;
}

.our-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 120px 0 242px 0;
  background-color: #E5E5E5;
}
.our-product__left {
  position: relative;
  margin-right: 87px;
}
.our-product__right h2 {
  font-size: 25px;
  color: #424242;
  font-family: "Lato";
  padding-top: 0;
  text-align: left;
  line-height: 157%;
}
.our-product__right h1 {
  font-size: 50px;
  color: #01996D;
  font-family: Georgia;
  padding-top: 0;
  text-align: left;
  line-height: 157%;
  max-width: 584px;
}
.our-product__right p {
  max-width: 530px;
  font-size: 20px;
  line-height: 31px;
  margin: 20px 0 40px 0;
}

.customize {
  position: absolute;
  left: -80px;
  bottom: -80px;
}

.footer {
  background-color: #245852;
  padding: 95px 0 144px 275px;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
}

.logo-footer {
  font-weight: bold;
  font-size: 25px;
  color: #01996D;
}

.nav-link {
  font-size: 25px;
  color: #fff;
}

@media (max-width: 1600px) {
  .kaylas-story {
    padding: 100px 100px 100px 100px;
  }
}
@media (max-width: 1470px) {
  .upper-grid {
        grid-template-areas: "h2" "h1" "p";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 30px;
  }
  .upper-grid p {
    text-align: justify;
    max-width: 584px;
  }

  .middle-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
  }

  .flex__left, .flex__middle, .flex__right {
    margin: 0;
  }
  .flex__left p, .flex__middle p, .flex__right p {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
  .flex__left h1, .flex__middle h1, .flex__right h1 {
    text-align: center;
  }

  .kaylas-story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 30px 40px 30px;
  }

  .story__left {
    margin: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .story__left h1 {
    text-align: center;
    font-size: 40px;
  }
  .story__left p {
    margin: 15px 0 40px 0;
    font-size: 20px;
  }

  .story__right {
    margin-top: 50px;
  }

  .our-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 30px 50px 30px;
  }
  .our-product__left {
    margin: 0;
  }
  .our-product__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 60px;
  }
  .our-product__right h1 {
    font-size: 45px;
    text-align: center;
  }
  .our-product__right h2 {
    text-align: center;
  }
  .upper-grid h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .upper-grid h1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .upper-grid p {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media (max-width: 1250px) {
  img {
    width: auto;
    max-width: 100%;
  }

  .story__left {
    max-width: 500px;
    width: 100%;
  }

  .our-product__left img {
    width: auto;
    max-width: 100%;
  }

  .menuToggle {
    display: contents;
  }

  .main-screen {
    height: calc(50vh + 75px);
  }

  .wrapper {
    z-index: 1;
    background-color: #fff;
    width: 320px;
    height: 330px;
    position: absolute;
    padding: 50px 20px 20px;
    top: 0;
    right: -380px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .wrapper.active {
    right: 0;
  }

  .middle__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }

  .middle__nav .link {
    margin-bottom: 20px;
  }

  .middle__nav .link:last-child {
    margin-bottom: 0;
  }

  .nav__end {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .main__container {
    margin: 50px auto;
  }

  .upper-grid h1, .upper-grid h2 {
    text-align: center;
    margin: 0 auto;
  }
  .upper-grid h1 {
    font-size: 40px;
    line-height: 150%;
  }

  .screen__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 440px;
    height: 100%;
    margin: 0 auto;
  }
  .screen__content h1 {
    text-align: center;
    font-size: 40px;
  }
  .screen__content p {
    text-align: center;
    margin: 20px 0;
  }

  .btn {
    display: block;
    max-width: 227px;
    padding: 20px 30px;
  }
  .btn p {
    margin: 0;
    color: #fff;
    font-size: 20px;
  }

  .mob__burger {
    display: block;
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 20;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .mob__burger-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #2D3548;
    position: absolute;
    top: 20px;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
  }
  .mob__burger-line::before {
    position: absolute;
    background-color: #2D3548;
    height: 2px;
    width: 100%;
    content: "";
    top: -6px;
    -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .mob__burger-line::after {
    position: absolute;
    background-color: #2D3548;
    height: 2px;
    width: 100%;
    content: "";
    bottom: -6px;
    -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .mob__burger-line.active {
    background: rgba(255, 255, 255, 0);
  }
  .mob__burger-line.active::before {
    content: "";
    top: 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .mob__burger-line.active::after {
    content: "";
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
@media (max-width: 850px) {
  * {
    width: auto;
    max-width: 100%;
  }

  .customize {
    width: 250px;
    height: 250px;
    left: 0;
    bottom: 0;
  }

  .footer {
    padding: 20px 0;
  }
  .footer__flex {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    height: 300px;
  }

  .logo-footer {
    font-weight: bold;
    font-size: 25px;
    color: #01996D;
  }

  .main-screen {
    height: 40vh;
  }
}
@media (max-width: 618px) {
  .customize {
    left: auto;
    bottom: auto;
    top: 0;
    right: 0;
    width: 170px;
    height: 170px;
  }

  .our-product__right h1 {
    font-size: 40px;
  }
  .our-product__right p {
    font-size: 18px;
  }
}
@media (max-width: 448px) {
  .btn {
    padding: 15px 25px;
    font-size: 15px;
  }

  .main-screen {
    height: 30vh;
  }
  .main-screen h1 {
    line-height: 100%;
    font-size: 30px;
  }
  .main-screen p {
    margin: 0;
    font-size: 17px;
  }

  .screen__content p {
    line-height: 150%;
  }
}